PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://jakharantim1710:Antim12345@cluster0.by26lmz.mongodb.net/school?appName=Cluster0
JWT_SECRET=kaizen_school_super_secret_jwt_key_2025
FRONTEND_URL=http://localhost:5173
